<div class="col-md-3">
    <div class="card product-card">
        <div class="card-body">
            <h5 class="card-title">{{partner_name}}</h5>
            <h6 class="card-subtitle mb-1">{{segment}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{category}} | {{type}}</h6>
            <p class="card-text">
                <strong>Preço:</strong> R${{price}}<br>
            </p>
            <button class="btn btn-primary buy-now-btn" data-product='{{product}}'>Pedir Sacola</button>
        </div>
    </div>
</div>