<div class="col-md-6 mb-2">
    <div class="past-purchase" data-product='{{product}}'>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <strong>{{partner_name}}</strong><br>
                <small class="text-muted">{{segment}}</small><br>
                <small class="text-muted">{{category}} | {{type}}</small><br>
                <strong>Preço:</strong> R${{price}}
            </div>
            <i class="bi bi-x-circle text-danger" title="Remover pedido"></i>
        </div>
    </div>
</div>